/*Save it as about.css  */

@media screen and (max-width: 600px) {
    html {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 300px) {
    html {
      font-size: 12px;
    }
  }

/* Megan */
h1 {
    text-align:center;
    flex: 1;
    margin-bottom: 40px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    padding: 30px 20px;
    margin-top: 120px;
}

.mission {
    background-color: #020280;
    color:white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 13px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}
.mission p{
    background-color: #020280;
    color:white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 18px;
    margin-bottom: 20px;
   font-family: 'Oswald', sans-serif;
}
/* List */
.mission ul {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.mission ul li {
    text-align: center;
    list-style-position: inside;
   font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
/* Meet the team */
.team {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
.team-member {
    border-radius: 50px;
    flex: 1;
    width: auto;
    margin: 40px auto;
    text-align: center;
    padding: 40px 20px;
    border-radius: 50px;
}
  
.team h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
  
.team p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
 /*Card individual background  */
.Ana {
    background-color: #09e836;
} 
.Camelia {
    background-color: #53ede0;
}  
.Anh {
    background-color: #f57622;
} 
.Sandhiya {
    background-color: #d930a9;
} 
.Megan {
    background-color: #FFDD33;
}
  