/*Save it as junior.css  */

@media screen and (max-width: 600px) {
    html {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 300px) {
    html {
      font-size: 12px;
    }
  }
  
  /* 'banner' (which acts like a filter) */
  .banner-junior {
      width: 100%;
      padding: 40px;
      background-color: #D9D9D9;
      margin-top: 100px;
    }
    
    .banner-row-one, .banner-row-two {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    .card {
      width: calc(33.33% - 20px);
      margin: 10px;
      position: relative;
    }
    
    .card img {
      width: 100%;
      height: auto;
    }
    
    .card-headline {
      position: absolute;
      height: auto;
      top: 40px;
      left: 20px;
      color: white;
      font-family: 'Jua', sans-serif;
      text-shadow: 2px 1px black;
    }
    
    .headline-backdrop {
      background-color: #081480;
      transform: translateX(-20px);
      padding: 8px 40px 5px 25px;
      clip-path: polygon(0% 0%, 100% 0%, calc(100% - 20px) 50%, 100% 100%, 0% 100%)
    }
    
    h2 {
      font-size: 40px;
    }
    
    .card-caption {
      position: absolute;
      top: 65%;
      left: 20px;
      right: 5px;
      color: white;
      text-align: left;
      font-family: 'Jua', sans-serif;
      text-shadow: 1px 1px black;
      font-size: 20px;
      z-index: 2;
    }
    
    .gradient-overlay {
      position: relative;
      display: block;
    }
    
    .gradient-overlay::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(9, 28, 194, 0.531),  rgba(0, 0, 0, 0));
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      z-index: 2;
    }
     
    .gradient-overlay:hover::before {
      opacity: 1;
    }
    
    .card:hover:not(#juniorExplorers){
      transform: translateY(-10px);
      border: 2px solid navy;
      transition: ease-out 0.3s;
    }
    
    /* filter by bar - can select more than one option */
    .junior-filter {
      margin: 0;
      width: 100%;
      height: 60px;
      background-color: #081480;
      text-align: right;
      color: white;
    }
    
    .custom-filter {
      position: relative;
      width: 180px;
      height: 40px;
      margin-top: 10px;
      background-color: white;
      border: 1px solid black;
      color: black;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .filters-header {
      padding: 10px; 
      font-weight: bold;
      font-family: 'Rubik', sans-serif;
      color: black;
      text-align: left;
    }
    
    .filter-dropdown {
      display: none;
      position: absolute;
      background-color: navy;
      border: 1px solid black;
      border-radius: 0px 0px 10px 10px;
      z-index: 1;
      flex-direction: column;
    }
    
    .filter-dropdown label {
      display: block;
      padding: 10px;
      font-family: 'Rubik', sans-serif;
      color: white;
      cursor: pointer;
    }
    
    .filter-dropdown input[type="checkbox"] {
      display: flex;
      position: absolute;
      width: 20px;
      height: 20px;
    }
    
    .filter-dropdown.active {
      display: flex;
      width: 180px;
      background-color: navy;
    } 
    
    label:hover {
      background-color: green;
    }
    
    .junior-filter p {
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      font-weight: bold;
      color: white;
      margin: 15px 20px;
      text-align: left;
    }
    .filter-by {
      display: inline-flex;
      margin-right: 55px;
    }
    
    /* main content of junior page */
    .row-title {
      font-family: 'Jua', sans-serif;
      margin-left: 50px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    
    .cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    
    /* Camelia- modified to fit horizontally all 4 cards*/
    .quizzes-card,.games-card,.videos-card,.competitions-card,.projects-card {
      width: calc(25% - 30px);
      margin: 20px auto 45px;
      border: 1px solid black;
      background-color: #D9D9D9;
      display: inline-block;
      box-sizing: border-box;
  }
  
    
    .card-img-top {
      height: 210px;
    }
    
    a.btn.btn-primary {
      background-color: navy;
      color: white;
    }
    
    .card-title a {
      color: black;
    }
    .card-title a:hover {
      color: #b1c5da;
    }
    
    .last-card-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .fav-container {
      position: relative;
      text-align: right;
      padding: 20px;
    }
    
    @media screen and (max-width: 768px) {
      .banner-junior {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
      }
    
      .card {
        width: 100%;
      }
    
      .card-caption {
        font-size: 20px;
      }
    }
    
    .red {
      color: red !important;
    }
    
    .black {
      color: black !important;
    }
    
    /* .fa-bookmark {
      margin-left: 10px;
    } */