/* Device Screen view */
@media screen and (max-width: 600px) {
    html {
      font-size: 14px;
    }
  }
  
@media screen and (max-width: 300px) {
    html {
      font-size: 12px;
    }
  }
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(#432a5a, #360249);
}
/* .animation{

       box-sizing: border-box;
        display: flex;
        float: right;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 120vh;
        background: radial-gradient(#432a5a, #360249);
    
}
.logoimage{
        min-height: 350px;
        font-size: 1.2em;
        line-height: 1.5;
        background-color: rgba(240, 248, 255, 0.192);
        border-radius: 10px;
        color: #e7c6f5;
        position: relative;
        overflow: hidden;
        z-index: 5;
        backdrop-filter: blur(60px);
        transition: 1s;
        animation: anim2 2s ease-in-out alternate infinite; 
}*/
.logoimage{ 
    padding: 5px;
    width: 550px;
    /* min-height: 350px; */
    font-size: 1.2em;
    line-height: 1.5;
    /* background-color: rgba(240, 248, 255, 0.192); */
    border-radius: 10px;
    color: #e7c6f5;
    position: relative;
    overflow: hidden;
    z-index: 5;
    backdrop-filter: blur(60px);
    transition: 1s;
    animation: anim2 2s ease-in-out alternate infinite;}

.loginheader{
    max-width: 400px;
    padding: 40px;
    margin: 40px;
}
.userloginoption{
    width: 500px;
    height: 700px;
    /* margin-top: 100px;
    margin-left: 65px; */
    border-style: solid;
    border-color: rgb(231, 216, 216);
    border-radius: 12px;
    background-color: white;
}
.signuplinks{
    padding: 20px;
    margin-left: -40px;
}
.signuplinks a{
    border-radius: 12px;
    background:white;
    background-clip: border-box;  
    color: black;
    cursor: pointer;
    /* width: 100px; */
    font-weight: bolder;
    font-style: inherit;
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    /* align-content: flex-start;
    justify-content: flex-start; */
    align-items: center;
    border-style: solid;
    border-color: rgb(231, 216, 216);

}
/* .signuplinks img{
   padding-right: 20px;

} */
#signupgmail{
    /* width: 300px; */
    margin-top: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 8px;
    /* display: flex; */
}
#signupapple{
    /* width: 300px; */
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 8px;
    /* display: flex; */
}

#signupemail{
    /* width: 300px; */
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 8px;
    /* display: flex; */
}

h1{
    color: white;
    text-align: left;
    margin: 0px;
    padding: 10px 0px;
    font-style: inherit;
    font-size: 35px;
  
}
.loginheader
.signupheader p{
    display: inline;
    padding: 10px 0px;
    font-style: inherit;
    font-size: 25px;
    color: white;
  
}
.signupheader a{
    display: inline;
    font-style: inherit;
    font-size: 25px;
    color: rgb(38, 131, 185);
  
}

/* .userloginoption{
  
    width: 500px;
    margin-top: 10px;
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(231, 216, 216)

} */
.userlogin{
    max-width: 600px;
    padding-top: 10px;
    padding-left: 50px;
    margin-top:40px;
    margin-bottom:90px ;
    /* border-radius: 7.5px; */
    /* background: linear-gradient(to top right, #5d5f61, #666a6b); */
    /* background: rgba(188, 185, 189, 0.2); */
    text-align: center;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-left: -55px;
}


.junior{
    max-width: 400px;
    padding-left: 100px;
    text-align: center;
    display: block;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-left: -55px;
    position: absolute;
}
#juniorlink,
#explorerlink,
#parentlink
{
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
    color:black ;
    border-style: solid;
    border-color: rgb(231, 216, 216);
    border-radius: 12px;
    background-color: rgb(250, 243, 243);
    padding: 5px;
    
}




/* .junior{ */
    /* display: flex; */
    /* font-size: 200px;
    color:  black;
    font-weight: bolder; */
    /* margin-left: -230px;
    margin-top: 20px; */
    /* text-align: center; }*/


/* .home{
    margin-left: 40px;
    margin-right: 10px;
} */

.newuser{
    color: rgb(49, 12, 214);
    text-align: left;
    text-align: left;
    font-size: 15px;
  

}
.countdown p,
.parentcountdown p {
    text-align: left;
    display: inline;
}

#displaylogincode,
#parentdisplaylogincode{
    margin-left: 180px;
    margin-right: 10px;
    font-size: 20px;
    color: rgb(227, 184, 136);
    letter-spacing: 3px;
    background: black;
}

#timer{
    color: rgb(122, 120, 118);
    font-size: 15px;
}
#parenttimer{
    color: rgb(122, 120, 118);
    font-size: 15px;
}

h4 {
    color: rgb(234, 227, 233);
    text-align: center;
    font-style: inherit;
    margin-top: -75px;
    font-size: 20px;
}

.userinput{
    position: absolute;
    z-index: 10;
    /* margin-top: 50px; */
}

#juniorloginbutton{
    font-weight: bolder;
    font-style: inherit;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
#help{
    color: rgb(39, 39, 121);
    text-decoration: underline;
    font-weight: lighter;
}
.help{
    padding: 30px;
    float: right;  
}

#helpuserinput,
#helpparent{
    color: rgb(39, 39, 121);
    text-decoration: underline;
    font-weight: lighter;
}

.helpparent{
    padding: 30px;
    margin-left: 260px;  
}

.helpuserinput{
    padding: 30px;
    margin-left: 270px;
}
.junior input{
    display: inline;
    font-size: 20px;
    color:  black;
    font-weight: bolder;
    margin-left:-10px;
    margin-top: 20px;
    text-align: left;
    padding: 20px;
    background-color: rgb(250, 243, 243);
    border: none;
    border-radius: 13px;
    width: 350px;
}   
.junior label {
    display: inline;
    font-size: 20px;
    color:  black;
    font-weight: bolder;
    margin-left:-150px;
    /* margin-top: 50px; */
    text-align: left;
    padding: 100px;
    
}
.junior button{
    background: rgb(8, 47, 105);
    padding: 15px;
    margin-left: -50px;
    border: none;
    border-radius: 13px;
}
.userinput label,
.parentinput label  {
    display: inline;
    font-size: 20px;
    color:  black;
    font-weight: bolder;
    margin-left: 10px;
    text-align: left;
    padding: 40px;
    
}

.userinput input,
.parentinput input {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 45px;
    background-color: rgb(250, 243, 243);
    display: block;
    padding: 8px;
    border: none;
    border-radius: 13px;
    width: 400px;
    font-size: 16px;
    font-style: inherit;
    color: black;
    padding: 20px 8px;
}

.userinput button,
.parentinput button  {
    margin-top: 15px;
    margin-bottom: 10px;
    /* margin-right: 5px; */
    padding: 10px 8px;
    border: none;
    border-radius: 13px;
    background: rgb(8, 47, 105);
    color: white;
    cursor: pointer;
    font-weight: bolder;
    font-style: inherit;
    font-size: 15px;
}

.logincodebutton,
.parentlogincodebutton{
    width: 150px;
    margin-left: 100px;
}
.loginbutton,
.parentloginbutton{
    width: 100px;
    margin-left: 30px;
}

button:hover {
    background-color: #9fd036;
    color: rgb(8, 47, 105);
}

#page1,
#page2:not(:target),
#juniorExplorer:not(:target)

{
    visibility: hidden;
}
#page1:target,
#juniorExplorer

 {
    visibility: visible;
    
  }
