/* save as search.css */
/* Coded by Anh */
html, body {
    padding: 0;
    margin: 0;
  }
  
  /* search.html */
  
  .search-backdropup {
    background-color: navy;
    width: 100%;
    padding: 20px 0px;
    margin-top: 100px;
  }
  
  .search-backdropup h1 {
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-left: 50px;
    margin-top: 20px;
  }
  
  .search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
  }
  
  .search-content h1 {
    margin-top: 30px;
    margin-left: 20px;
  }
  
  .searchLine-container { 
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .searchLine-container input[type="text"] {
    padding: 30px;
    height: 80px;
    width: 50%;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    border-radius: 20px;
    border:#000080 2px solid;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  }
  
  .search-btn {
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    width: 150px;
    height: 60px;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 25px;
    border:#000080 2px solid;
  }
  
  .search-btn:hover {
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out;
  }

  /* search.html CSS that is also used in results.html
 */

.search-backdrop {
    background-color: navy;
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 50px;
  }
  
  .search-backdrop h1 {
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-left: 50px;
    margin-top: 20px;
  }
  
  
  /* results.html */
  
  .grid-of-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .grid-of-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .grid-of-images figure {
    margin: 50px;
    text-align: center;
    background-color: lightgrey;
  }
  
  .grid-of-images img {
    width: 100%;
    height: 200px;
    display: block;
  }
  
  .grid-of-images figcaption {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
  }
  
  .grid-of-images p {
    padding: 15px;
    font-family: 'Rubik', sans-serif;
  }
  
  .grid-of-images button {
    background-color: navy;
    color: white;
    padding: 8px;
    margin-bottom: 20px;
  }
